// Google fonts
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap');

$main: #1a1a2e;
$p: #e94560;

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

// navbar
.navbar {
  padding: 30px 0;
  .navbar-brand {
    font-weight: 600;
    span {
      font-weight: 700;
      color: $p;
    }
  }
}

// jumbotron
.jumbotron {
  .erere {
    a {
      &:hover {
        color: $p;
        text-decoration: none;
      }
      color: #ffffff;
      margin-right: 30px;
    }
  }
  .lead {
    margin: 30px 0;
  }
  .display-4 {
    .type-target {
      color: $p;
    }
    font-weight: 600;
  }
  background: none !important;
  color: #ffffff;
}

.skill {
  margin-top: 100px;
  .row:nth-child(2) {
    margin-top: 30px;
  }
  h3 {
    span {
      font-weight: 700;
      color: $p;
      font-size: 24px;
    }
  }
  .card {
    padding: 35px 0;
    border-radius: 10px;
    background-color: #16213e;
  }
}

.projects {
  .row:nth-child(2) {
    img {
      border-radius: 10px;
      width: 332px;
      height: 152px;
    }
  }
  h3 {
    span {
      font-weight: 700;
      color: $p;
      font-size: 24px;
    }
  }
  margin-top: 100px;
}

footer {
  hr {
    background-color: #acacac;
  }
  padding: 25px 0;
}

.resolusi {
  .row:nth-child(2) {
    margin-top: 30px;
  }
  .res-child {
    .res-img {
      width: 64px;
      height: 64px;
    }
    margin-top: 30px;
  }
  .card {
    background-color: #16213e;
    border-radius: 10px;
    padding: 35px 0;
  }
  margin-top: 100px;
}



@media only screen and (max-width: 768px) {
  .jumbotron {
    .display-4 {
      font-size: 24px;
    }
    .lead {
      font-size: 12px;
    }
  }

  .skill {
    .row:nth-child(2) {
      margin-top: 10px;
    }
    .card-child {
      margin-top: 40px;
    }
  }

  .projects {
    .row:nth-child(2) {
      img {
        padding: 0 30px;
        border-radius: 10px !important;
        margin-top: 30px;
      }
    }
  }
}